<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ProjectConnectionString" connectionString="Data Source=H-S\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>